# PostgreSQL
DB_USER=test
DB_PASSWORD=test
DB_NAME=test
DB_PORT=5432

# Core API
API_PORT=8000

# ML service
ML_PORT=8001
REDIS_HOST=redis
REDIS_PORT=6379
RECOMMENDATIONS_CACHE_TTL_SECONDS=3600

# Frontend 
FRONTEND_PORT=3000

# Logging
LOGGING_LEVEL=INFO

# LLM integration
LLM_BASE_URL=http://example.com
LLM_API_KEY=example

# Сourse
STEPIK_CLIENT_ID=
STEPIK_CLIENT_SECRET=
ENABLED_PROVIDERS=stepik
UDEMY_CLIENT_ID=
UDEMY_CLIENT_SECRET=

# GHCR packages
BASE_TAG=develop
IMAGE_TAG=develop