# PostgreSQL
DB_USER=test
DB_PASSWORD=test
DB_NAME=test
DB_PORT=5432

# Core API
API_PORT=8000

# ML service
ML_PORT=8001

# Frontend 
FRONTEND_PORT=3000

#Logging
LOGGING_LEVEL=INFO

#LLM integration
LLM_BASE_URL=http://example.com
LLM_API_KEY=example